@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mobile-nav {
  background-color: $primary;
  padding: 1rem 0;
  @include flex(space-between);

  @include tablet {
    display: none;
  }

  &__link {
    @include flex(center, center, column);
    width: 20%;
    text-decoration: none;
    cursor: pointer;
    color: $neutral-dark;

    &:hover {
      filter: brightness(0) saturate(100%) invert(30%) sepia(14%)
        saturate(7139%) hue-rotate(345deg) brightness(98%) contrast(97%);
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__text {
    font-size: 1rem;
    font-variation-settings: "wght" 700;
    margin: 0.25rem 0 0;
    color: inherit;
  }
}

.active {
  filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(7139%)
    hue-rotate(345deg) brightness(98%) contrast(97%);
}
