@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.group-card {
  @include flex(flex-start, center, row);
  margin-bottom: 1rem;

  &:active {
    background-color: $divider;
  }

  &__icon {
    height: 4rem;
    margin-right: 1rem;
  }

  &__text {
    flex-grow: 1;
    border-bottom: 1px solid $divider;
  }

  &__name {
    margin: 0;
  }

  &__users {
    margin: 0.4rem 0 0;
    font-size: 1.2rem;
  }
}
