@use "./variables" as *;

// RESPONSIVE DESIGN
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// OTHER
@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin button {
  @include flex(center, center, row);
  width: 50%;
  height: 4rem;
  background-color: $primary;
  color: $neutral-dark;
  text-decoration: none;
  border-radius: 4rem;
  font-weight: bold;
}
