@use "./variables" as *;

// RESPONSIVE DESIGN
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// OTHER
@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// @mixin button {
//   @include flex(center, center, row);
//   width: 50%;
//   height: 4rem;
//   background-color: $primary;
//   color: $neutral-dark;
//   text-decoration: none;
//   border-radius: 2rem;
//   font-weight: bold;
// }

@mixin button {
  background-color: $primary;
  border: 2px solid $neutral-dark;
  border-radius: 3rem;
  box-shadow: $neutral-dark 4px 4px 0 0;
  color: $neutral-dark;
  cursor: pointer;
  font-weight: 600;
  padding: 1.2rem 1.8rem;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $neutral-light;
  }

  &:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
}
