// COLOURS
$primary: #f4a259;
$neutral-dark: #312f2f;
$neutral-light: #f8f8f8;
$background: #ffeecb;
$secondary: #c43c1e;
$divider: #d9d9d9;

$highlight: #8cb369;

// RESPONSIVE DESIGN
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
