@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.members {
  background-color: $background;
  padding: 1rem 1.6rem;
  flex-grow: 1;

  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    @include flex(flex-start, stretch, column);
  }

  &__heading {
    background-color: $neutral-light;
    border-radius: 3rem;
    padding: 1rem 3rem;
    color: $neutral-dark;
    @include flex(space-between, center, row);
  }

  &__name {
    margin: 0;
  }

  &__created-at {
    margin: 0;
    font-size: 1.2rem;
  }

  &__icon {
    height: 2rem;

    &:hover {
      filter: brightness(0) saturate(100%) invert(30%) sepia(14%)
        saturate(7139%) hue-rotate(345deg) brightness(98%) contrast(97%);
    }
  }

  &__list {
    background-color: $neutral-light;
    border-radius: 3rem;
    min-height: 75%;
    margin-top: 1rem;
    padding: 1rem;
    @include flex(space-between, stretch, column);
  }

  &__create-btn {
    @include button;
    margin: auto auto 0;
    width: 85%;
    cursor: pointer;
  }
}
