@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.map-container {
  flex-grow: 1;
}

.map-page {
  flex: auto;
  @include flex(flex-start, stretch, column);
  position: relative;
}

.mapboxgl-popup {
  width: 100%;
}

.mapboxgl-ctrl-top-left {
  right: 2rem;
}
