@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.map-container {
  flex-grow: 1;
}

.map-page {
  flex: auto;
  @include flex(flex-start, stretch, column);
}

.mapboxgl-popup {
  width: 100%;
}
