@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flex(center);
  background-color: $primary;
  padding: 1rem 1.6rem;

  &--map {
    display: none;

    @include tablet {
      @include flex(space-between, center);
    }
  }

  &--modal {
    @include tablet {
      display: none;
    }
  }

  &__icon {
    display: none;
    cursor: pointer;

    &:hover {
      filter: brightness(0) saturate(100%) invert(30%) sepia(14%)
        saturate(7139%) hue-rotate(345deg) brightness(98%) contrast(97%);
    }

    @include tablet {
      display: block;
      width: 3rem;
    }
  }

  &__logo {
    width: 10rem;
  }
}
