@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login-page {
  background-color: $background;
  padding: 4rem 1.6rem;
  height: 100vh;

  &__heading {
    margin: 4rem 0;
    text-align: center;
  }

  &__new-wrapper {
    @include flex(center, center, row);
    margin-top: 4rem;
  }

  &__text {
    margin: 0 0.5rem 0 0;
  }
}

.login-form {
  @include flex(flex-start, stretch, column);
  width: 80%;
  margin: 0 auto;

  @include desktop {
    width: 30%;
  }

  &__label {
    font-size: 1.4rem;

    @include desktop {
      font-size: 1.8rem;
    }
  }

  &__input {
    margin: 0.3rem 0 1.5rem;
    background-color: $background;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0;

    @include desktop {
      font-size: 1.6rem;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid $primary;
    }
  }

  &__submit {
    @include button;
    margin: 1rem auto;
  }
}
