@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.landing {
  background-color: $background;
  padding: 3rem 0;
  flex-grow: 1;

  &__heading {
    text-align: center;
    margin: 0.5rem;
    font-family: Helvetica, sans-serif;
    color: $secondary;
  }

  &__subheading {
    text-align: center;
    width: 75%;
    margin: 2rem auto;
    font-family: Helvetica, sans-serif;
    color: $secondary;
  }

  &__link {
    @include button;
    margin: 1rem 0;

    &-wrapper {
      @include flex(flex-start, center, column);
      margin-top: 6rem;
    }
  }
}
