@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
  margin: 0;
  font-size: 1.4rem;

  &__wrapper {
    border-top: 1px solid white;
    padding: 1.6rem 0;
  }

  &__user {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;

    &-wrapper {
      @include flex(space-between, center, row);
    }
  }

  &__timestamp {
    font-size: 1.2rem;
    margin: 0;
  }

  &__edit {
    display: block;
    margin: 1.6rem auto 0;
    @include button;
  }
}
