@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.loc-toast {
  position: fixed;
  bottom: 0;
  background-color: $neutral-dark;
  color: $neutral-light;
  width: 100%;
  height: 75vh;
  z-index: 10;
  padding: 1.6rem;
  border-radius: 1rem 1rem 0 0;

  &__drag-marker {
    width: 2.5rem;
    height: 0.3rem;
    background-color: $neutral-light;
    border-radius: 1rem;
    margin: 0 auto;
  }

  &__heading {
    margin: 0;

    &-wrapper {
      @include flex(space-between, center, row);
    }
  }

  &__icon {
    height: 3rem;
    cursor: pointer;
  }

  &__comment {
    &-list {
      border-top: 1px solid $divider;
    }

    &-wrapper {
      @include flex(flex-start, center, column);
    }

    &-add {
      @include button;
    }

    &-heading {
      text-transform: uppercase;
    }
  }
}
