@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.places-list {
  position: absolute;
  left: 0;
  top: 6rem;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: $background;
  padding: 0 1.6rem;
  overflow: auto;

  &__heading {
    &-wrapper {
      @include flex(center, center, row);
      position: relative;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &:hover {
      filter: brightness(0) saturate(100%) invert(30%) sepia(14%)
        saturate(7139%) hue-rotate(345deg) brightness(98%) contrast(97%);
    }
  }
}
