@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-comment-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  @include flex(center, center);
  background-color: #312f2f52;

  &__content {
    background-color: $neutral-light;
    color: $neutral-dark;
    border-radius: 2.5rem;
    padding: 2rem 3rem;
    width: 25rem;

    @include flex(flex-start, center, column);
  }

  &__submit {
    @include button;
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
  }

  &__cancel {
    @extend .add-comment-modal__submit;
  }
}
