@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.map-header {
  background-color: $primary;
  padding: 0.4rem 1rem;
  height: 6rem;

  @include flex(flex-start, center, row);

  &__icon {
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
      filter: brightness(0) saturate(100%) invert(30%) sepia(14%)
        saturate(7139%) hue-rotate(345deg) brightness(98%) contrast(97%);
    }
  }

  &__wrapper {
    text-decoration: none;
    color: $neutral-dark;

    &:hover {
      color: $secondary;
    }
  }

  &__group {
    margin: 0;
  }

  &__numbers {
    margin: 0;
  }
}
